.footer {
  padding: 60px 0;
  background: linear-gradient(180deg, #300861 -204.46%, #240c55 114.62%);
  .container-ft {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      @include text("PoppinsMedium", #ffffff, 26px, 700, uppercase, 39px);
      // font-family: "Poppins";
      margin-bottom: 20px;
    }
    .contact {
      max-width: 570px;
      margin-bottom: 24px;

      li,
      a {
        @include text("PoppinsLight", #ffffff, 18px, 400, none, 27px);
        text-decoration: none;
        // font-family: "Poppins";
      }
      a {
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          color: #bc078c;
        }
      }
    }
    .community {
      .main-community {
        display: flex;
      }
      li {
        padding: 10px 16px;
        border: 1.69543px solid #b92192;
      }
      a {
        @include text("PoppinsLight", #ffffff, 18px, 400, none, 27px);
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        // font-family: "Poppins";
        cursor: pointer;
        transition: all 0.3s ease;
        span {
          margin-right: 8px;
        }
        &:hover {
          color: #bc078c;
        }
      }
    }
  }
}
