.header {
  @include position(fixed, 0, 0, null, 0);
  width: 100%;
  height: var(--height-header);
  padding: 80px;
  z-index: 600;
  @include transition($t);
  &.--fixed {
    background-color: #230053;
    --height-header: 40px;
    padding: 40px;
    @include transition($t);
  }

  .container-fluid {
    height: 100%;
    @include flex(null, space-between, center);
  }

  &__menu {
    @include flex(null, center, center);
    @include positionCenter("left");
    &-item {
      margin: 0 40px;
      position: relative;
      .sub-menu {
        position: absolute;
        top: 40px;
        left: -26px;
        @include transition($t);
        opacity: 0;
        visibility: hidden;
        padding: 10px 26px 30px 26px;
        background: linear-gradient(
          180deg,
          rgba(20, 0, 49, 0.95) 0%,
          rgba(61, 10, 116, 0.57) 89.02%
        );
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.16);
        backdrop-filter: blur(120px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 0px 10px 10px 10px;
        .sub {
          margin: 6px 0;
        }
      }
      &:hover {
        .sub-menu {
          opacity: 1;
          visibility: visible;
        }
      }
      a,
      span {
        position: relative;
        padding-bottom: 2px;
        @include text("MontserratMedium", #fff, 18px, normal, 22px);
        @include transition($t);
        will-change: transition;
        white-space: pre;
        text-decoration: none;
        cursor: pointer;
        &.active,
        &:hover {
          @include transition($t);
          color: #33fcff;
        }
        &::before {
          content: "";
          @include position(absolute, null, 0, 0, auto);
          @include size(0, 2px);
          background-color: #33fcff;
          @include transition($t $cubic);
        }
        &:hover::before,
        &.active::before {
          left: 0;
          right: auto;
          @include size(100%, 2px);
          @include transition($t $cubic);
        }
      }
      .logo {
        img {
          width: 114px;
          max-width: unset;
          @include transition($t $cubic);
        }
        &.--fixed {
          img {
            width: 70px;
          }
        }
        &::before {
          display: none;
        }
        &:hover::before,
        &.active::before {
          display: none;
        }
      }
    }
  }
}

@include maxW(1090px) {
  .header {
    &__menu {
      left: 55%;
    }
  }
}

@include md {
  .header {
    --height-header: 60px;
    &__menu {
      display: none;
    }
    &__right {
      .hamburger {
        display: flex;
      }
    }
  }
}
@include sm {
  .header {
    &.--fixed {
      --height-header: 60px;
    }
  }
}
