.header {
  @include position(fixed, 0, 0, null, 0);
  width: 100%;
  height: var(--height-header);
  padding: 80px;
  z-index: 600;
  @include transition($t);
  .logoMb {
    display: none;
  }
  &.--fixed {
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0px 7.52013px 15.0403px rgba(27, 27, 27, 0.16);
    backdrop-filter: blur(75.2013px);
    /* Note: backdrop-filter has minimal browser support */
    --height-header: 40px;
    padding: 40px;
    @include transition($t);
  }

  .container-fluid {
    height: 100%;
    @include flex(null, space-between, center);
  }

  &__menu {
    @include flex(null, center, center);
    @include positionCenter("left");
    &-item {
      margin: 0 40px;
      position: relative;
      .sub-menu {
        position: absolute;
        z-index: 3;
        top: 40px;
        left: -26px;
        @include transition($t);
        opacity: 0;
        visibility: hidden;
        padding: 10px 26px 30px 26px;
        background: linear-gradient(
          180deg,
          rgba(20, 0, 49, 0.95) 0%,
          rgba(61, 10, 116, 0.57) 89.02%
        );
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.16);
        backdrop-filter: blur(120px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 0px 10px 10px 10px;
        .sub {
          margin: 6px 0;
        }
      }
      &:hover {
        .sub-menu {
          opacity: 1;
          visibility: visible;
        }
      }
      a,
      span {
        position: relative;
        padding-bottom: 2px;
        @include text("MontserratMedium", #fff, 18px, normal, 22px);
        @include transition($t);
        will-change: transition;
        white-space: pre;
        text-decoration: none;
        cursor: pointer;
        &.active,
        &:hover {
          @include transition($t);
          color: #33fcff;
        }
        &::before {
          content: "";
          @include position(absolute, null, 0, 0, auto);
          @include size(0, 2px);
          background-color: #33fcff;
          @include transition($t $cubic);
        }
        &:hover::before,
        &.active::before {
          left: 0;
          right: auto;
          @include size(100%, 2px);
          @include transition($t $cubic);
        }
      }
      .logo {
        img {
          width: 114px;
          max-width: unset;
          @include transition($t $cubic);
        }
        &.--fixed {
          img {
            width: 70px;
          }
        }
        &::before {
          display: none;
        }
        &:hover::before,
        &.active::before {
          display: none;
        }
      }
    }
  }
}
.hamburger {
  position: relative;
  z-index: 99;
  width: 30px;
  height: 30px;
  display: block;
  transition: 0.3s ease all;
  display: none;
  &.no-hamburger {
    transform: rotate(-45deg);
  }
}
.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 11;
  top: 0;
  left: 0;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  @include transition($t);
  visibility: visible;
  opacity: 1;
  .menu-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: #000000;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.92;
  }
  &.hide {
    opacity: 0;
    visibility: hidden;
  }
}

.bun,
.meat {
  display: block;
  width: 100%;
  background: #6b51d2;
  height: 4px;
  transition: 0.3s ease all;
  border-radius: 50px;
}
.meat {
  width: 60%;
}

.top {
  .no-hamburger & {
    height: 38%;
    width: 4px;
    margin-left: 40%;
    border-radius: 50px 50px 0 0;
    background: #ffffff;
  }
}

.bottom {
  .no-hamburger & {
    height: 38%;
    width: 4px;
    margin-left: 40%;
    border-radius: 0 0 50px 50px;
    background: #ffffff;
  }
}

.meat {
  margin: 20% 0;

  .no-hamburger & {
    margin: 2% 0;
    background: #ffffff;
    width: 100%;
  }
}

@include maxW(1024px) {
  .header {
    .hamburger {
      display: block;
    }
    &.--fixed {
      --height-header: 40px;
      padding: 35px 0 35px 0px;
      @include transition($t);
    }
    .container-fluid {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__menu {
      display: none;
    }
    padding: 0;
    .logoMb {
      display: block;
      width: 47px;
      margin-top: 6px;
      position: relative;
      z-index: 99;
      .logo {
        img {
          width: 100%;
        }
      }
    }
  }
  .menu {
    .header {
      &__menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        &-item {
          margin: 20px;
        }
      }
    }
  }
}
